<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About Us</title>
    <style>
         *{
            margin: 5px;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }
        .main{  
            text-align:center;
            border: 5px solid navy;
            width: 80%;
            padding-top:5px;
        }
        .main h1{
            padding-top: 3px;
            color: blue;
            text-align: center;
            font-size: 35px;
        }
        .main h2{
            padding-top: 3px;
            color: white;
            background-color: navy;
        }
        .main img{
            width:inherit;
            height:300px;
        }
        .main-content{
            padding-left: 20%;
            width: 80%;
            padding-top: 3px;
            color: black;
            text-align: justify;
            padding-bottom: 3px;
        }
         
    </style>
</head>
<body>
    <section class="main">
        <div id="img">
            <img src="https://pbs.twimg.com/profile_images/1096691440040562688/FrJnXn-y_400x400.jpg" >
            <img src="https://static.zollege.in/public/college_data/images/appImage/1647495498MainGateViewofJaypeeUniversityofEngineeringandTechnologyGunaCampusView.jpg?tr=h-250,w-400,c-force" >
        </div>
        <hr>
        <h1>About Us</h1>
            
        
            <h2>Welcome To Our University</h2>
         <div class="main-content">
            <p><b>Jaypee University of Engineering & Technology (JUET), 
                Guna </b>has been established vide Government of Madhya Pradesh
                gazette extra ordinary No.3 of 2010 dated 29th April 2010
                as a private university in the State of MP under the provisions 
                of MP Niji Vishwavidyalaya Adhiniyam 2007. The university has
                been notified by the UGC under section 2(f) of the UGC Act,
                1956 and Accredited by NAAC with Grade “A+” in 2nd Cycle in 
                2023 and Grade "A" in 1st cycle of Accreditation in 2016.  
                This University is sponsored by Jaypee Group. It was earlier
                Jaypee Institute of Engineering and Technology, Guna, established
                in the year 2003 based on the MOU signed between Jaiprakash Sewa
                Sansthan (a not-for-profit trust) and the Government of Madhya 
                Pradesh with an aim of becoming a Center of Excellence in Engineering 
                and Technology in MP.
             </p><br>
                <p>
                This is one of the four Universities established for imparting 
                Engineering education by the Jaiprakash Sewa Sansthan (JSS), 
                an educational initiative which recognizes the role of IT 
                and emerging technologies in improving the quality of life 
                of the people of India. JUET's location at Raghogarh, in
                Guna district, is a well thought out as it serves backward 
                district of MP such as Shivpuri, Gwalior, Sheopur, Ashoknagar,
                Sagar, Rajgarh, Vidisha etc. This region, currently in
                a rural setting with strong agricultural activities is
                likely to grow as a major industrial hub. JUET is being
                developed as a major center to provide competent, well 
                trained technical manpower to the region.
                The JUET campus on the national highway linking Agra 
                to Mumbai sprawls over 125 acre as a modern institution
                of higher learning in the field of engineering and 
                technical education. The foundation stone of this 
                institution was laid on 15th March 2002 by the then
                chief minister of Madhya Pradesh Shri Digvijay Singh.
             </p>