<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assesment Pattern</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .heading h1{
       color: navy;
       text-align: center;
    }
    .main{
        height: 50%;
        width: 40%;
        display: flexbox;
        justify-content: center;
        align-items: center;
        margin-left: 23rem;
        margin-top: 5rem;
        border: 2px solid navy;
        border-radius: 2px;
    }
    .main p{
        margin: 5px 3px;
    }
</style>
<body>
    <div class="heading">
        <h1>Assesment Pattern</h1>
    </div>
    <div class="main">
        <p>The JUET exam is divided into 4 sections- General English, General Knowledge, Numerical Ability,
             and Reasoning. The exam is conducted offline. Candidates will be given the option to choose their preferred exam center. However, once allotted, the center will not be changed under any circumstances</p>
             <p>
                The JUET Written Exam is divided into 3 parts -:
                       1. T1(15 Marks)
                       2. T2(25 Marks)
                       3. T3(35 Marks)
                The JUET Practical Exam is divided into 2 Parts :-
                       1. P1(15 Marks)
                       2. P2(15 Marks)       
             </p>
    </div>
</body>
</html>